@import url(__title/lead__title.css);
@import url(__subtitle/lead__subtitle.css);
@import url(__caption/lead__caption.css);
@import url(__img/lead__img.css);

.lead {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 0 auto 0;
    max-width: 984px;
    padding: 0 48px 0;

}

@media screen and (max-width: 768px) {
    .lead {
        padding: 0;
    }
}
