.header__logo {
    width: 176px;
    height: 52px;
    margin-top: 28px;
}

@media screen and(max-height: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
        margin-top: 16px;
    }

}