.header__logo {
    width: 176px;
    height: 52px;
    margin-top: 28px;
    background-image: url("../../../images/__logo.svg");
    border: none;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 360px) {
    .header__logo {
        width: 142px;
        height: 42px;
        margin-top: 16px;
    }

}