@import url(./__logo/header__logo.css);
@import url(__lang-link/header__lang-link.css);
@import url(__lang-links/header__lang-links.css);

.header {
    width: 100%;
    justify-content: space-between;
    display: flex;
}
