.footer__author {
    max-width: 186px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .footer__author {
        text-align: left;
        line-height: 14px;
    }

}
