.footer__link {
    text-decoration: none;
    margin: 0 18px 24px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;

}

.footer__link:hover {
    opacity: 60%;
}


