.cards__item {
    display: grid;
    grid-gap: 48px 32px;
    grid-template-columns: repeat(2, minmax(325px, 456px));
    margin-bottom: 80px;
}
@media screen and (max-width: 640px) {
    .cards__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 65px;
    }
}

@media screen and (max-width: 320px) {
    .cards__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
    }
}