.lead__title {
    margin: 56px auto 0;
    max-width: 720px;
    font-size: 96px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    color: #ffffff;
    line-height: 100px;
}

@media screen and (max-width: 640px) {
    .lead__title {
        margin: 48px auto 0;
        max-width: 400px;
        font-size: 60px;
        line-height: 1.2;
    }

}

@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }

}