.lead__title {
    margin: 56px auto 0;
    max-width: 720px;
    max-height: 200px;
    font-size: 96px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    line-height: 1.2;
}

@media screen and (max-width: 320px) {
    .lead__title {
        margin: 48px auto 0;
        max-width: 288px;
        max-height: 88px;
        font-size: 40px;
        line-height: 1.2;
    }

}