.lead__subtitle {
    margin: 32px auto 64px;
    max-width: 640px;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    line-height: 36px;
    color: #ffffff;
    font-style: normal;
}



@media screen and (max-width: 680px) {
    .lead__subtitle {
        max-width: 320px;
        font-size: 20px;
        line-height: 24px;
    }

}

@media screen and (max-width: 355px) {
    .lead__subtitle {
        margin: 16px auto 40px;
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }

}