.poll__title {
    margin: 114px 0 40px;
    max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    text-align: left;
}

@media screen and (max-width: 320px) {
    .poll__title {
        margin: 64px 0 40px;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}