.header__lang-links {
    margin-top: 28px;
    display: flex;
    align-items: center;
    list-style: none;
}

@media screen and (max-width: 360px) {
    .header__lang-links {
        margin-top: 30px;
    }
}