.cards__text {
    max-width: 456px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 320px) {
    .cards__text {
        box-sizing: border-box;
        padding: 0 16px 0;
        margin: 32px 0 0;
    }
}